.title{
margin-bottom: 10px;
text-align: center;
width: 210px;
color: black;
border: solid black 1px; 
}
input[type="button"]
{
    background-color:black;
    color: antiquewhite;
    border: solid black 1px;
    width: 100%;
}
input[type="text"]
{
    background-color: grey;
    border: solid black 1px;
    width: 100%;
}
